* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  background-color: white;
  padding-left: 270px;
}

.App-intro {
  font-size: large;
}

.logoView {
  background-color: #2A3E61;
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  color: #A9B3BF;
  padding-top: 15px;
  height: 80px;
  margin-bottom: 20px;
}

.side-nav {
  background-color: #19283F; 
}

.side-nav a {
  font-size: 18px;
}

.side-nav.fixed a {
  color: #586F8F;
  text-align: center;
}

.side-nav.fixed a:hover {
  color: white;
}

nav ul a{
  color: #C2CAD5;
}

.wrapper {
  margin: 20px;
}

.inventory h4, .inventory th {
  color: #586F8F;
}

.inventory .btn-floating {
  position: absolute;
  right: 40px;
  background-color: #2A3E61;
}